* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  height: 100vh;
  background: skyblue;
}

.bird {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid black;
}

.scoreBox {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5em;
  min-width: 80px;
  width: auto;
  padding: 12px;
  height: auto;
  position: absolute;
  top: 20px;
  right: 20px;
  background: #ddd;
  border: 2px dashed black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hunter {
  background: gray;
  width: 20px;
  height: 100px;
  border-radius: 20px 20px 0 0;
  position: absolute;
  bottom: 0;
  right: calc(50%)
  
  &:before {
    content: '';
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: olive;
    position: absolute;
    right: calc(50% - 40px);
  }

  &:after {
    content: '';
    border-radius: 20px 20px 0 0;
    width: 80px;
    height: 20px;
    background: olive;
    position: absolute;
    bottom: 0;
    right: calc(50% - 40px);
  }
}
